# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
 
# Exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes
.DS_Store
 
# Exclude Text Files
*.txt
# Except read me
!README.txt

# Exclude log files
*.log

# Exclude Fonts
_fonts/

# Dependency directories
node_modules/
jspm_packages/

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output
 
